 /*-------------
  font-style 
 ---------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.background{
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}
/*-------------
 top-section-style 
-------------- */
section{
    display: flex;
    margin-bottom: 90px;
}
.top-heading{
    margin-top: 50px;
    margin-bottom: 100px;
}
.content-heading{
    font-weight: 900;
    font-size: 3em;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}


.button-style{
    border-radius: 20px;
    color: white;
    background-color: #E02C6D ;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-decoration: none; 
}
.fa-long-arrow-alt-right{
    color: white;
}

/*--------------
 mid-section 
---------------- */
.mid-heading{
    text-align: center;
}
.midbox{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px 20px 80px 20px;
}
.product{
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.fa-star{
    color: goldenrod;
}
#seemore-button{
    justify-content: right;
    margin-left: 80%;
    text-decoration: none;
    color: #E02C6D;
    font-weight: 800;
}
.fa-arrow-right{
    color: #E02C6D;
}
/*----------------
 bonus-extra-section 
---------------- */
#bottom-header{
    font-size: 2em;
    color: #0A0826;
}
.last-section{
    margin-left: 50px;
    margin-top: 45px;
}
/*-----------
 footer section 
--------------*/
.footer-style{
    text-align: center;
    color: white;
    background-color: #0A0826;
    padding-top: 35px;
    padding-bottom: 15PX;
}
.footericon{
    text-decoration: none;
    color: white;
}